</div>
<div class="footer-padding"></div>
<div class="footer">
  <!-- <p>SPY-EYE 👓</p> -->
  <a href=""><i class="social-icon fab fa-facebook-f fa-2x"></i></a>
  <a href=""><i class="social-icon fab fa-twitter  fa-2x"></i></a>
  <a href="https://github.com/bhavinvirani/Daily-Blogs"><i class="social-icon fab fa-github  fa-2x"></i></a>
  <a href=""><i class="social-icon fas fa-envelope  fa-2x"></i></a>
</div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../../public/script/index.js"></script>
</body>

</html>