*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body {    
    height: 100%;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
::-webkit-scrollbar {
    display: none;
}
.container-fluid {
    margin: 65px 150px 20px 150px;
    /* margin: 50px; */
}

/* navbar */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index:999;
    padding-top: 6px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: #f5f5f5;
}
.navbar-fixed{
    top: 0;
    /* z-index: 100; */
    position: fixed;
    width: 100%;
}
.navbar-header a{
    color: #777777;
    letter-spacing:5px;
}
.navbar-header a:hover{
    color: #0bc29d !important;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-nav li a:hover {
    transition: 0.3s;
    color: #0bc29d !important;
}



/* contec us */



/* btn */
.btn{
    margin: 10px 3px;
    background-color: rgb(108, 167, 219);
}
.btn:hover{
    background-color:rgb(9, 82, 146);
    color: #fff;
    transition: 0.3s;
}

/*  */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


/* footer */
.footer-padding {
	padding-bottom: 60px;
}
.footer {
	position: fixed;
	text-align: center;
    font-size: 12.5px;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #02886d;
}
.footer p {
	margin-top: 12.5px;
    font-size: 15px;
    font-weight:400;
    color: #fff;
}
a .social-icon {
    color: rgb(32, 32, 32);
}
.social-icon {
    margin: 8px 8px;
}
.social-icon:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}


/* login-signup */

  .form-signin .checkbox {
    font-weight: 400;
    margin-left:auto ;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }