*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* navbar */
.navbar {
    padding-top: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 3px;
}
.navbar-header a{
    color: #777777;
    letter-spacing:5px;
}
.navbar-header a:hover{
    color: #0bc29d !important;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-nav  li a:hover {
    transition: 0.3s;
    color: #0bc29d !important;
}



/* contec us */




/* footer */
.footer-padding {
	padding-bottom: 60px;
}
.footer {
	position: fixed;
	text-align: center;
    font-size: 12.5px;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #0bc29d;
}
.footer p {
	margin-top: 12.5px;
    font-size: 15px;
    font-weight:400;
    color: #fff;
}
.social-icon {
    margin: 8px 8px;
}
.social-icon:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}
